
{% extends "accounts/base.html" %}

{% block content %}

<div class="container shadow-lg p-3 mb-5 bg-white rounded">
   <h1 class="text-center">Change your Pawword.</h1>
    <div class="col-md-8 offset-md-2 shadow p-3 mb-5 bg-white rounded">
        <br>
        <div class="col-md-10 offset-md-1">

            <form method="POST" action="{% url 'accounts:edit' %}">
                {% csrf_token %}
                {% if form.errors %}

                    <div class="alert alert-warning" role="alert">
                    <button class="close" data-dismissable="alert"><small><sup>X</sup></small></button>
                    <p>Your Form has Errors...</p>
                    {% for field in form %}
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
                {{ form.as_p }}
                <input type="submit" value="Change Password" class="btn btn-primary center-block"></input>
            </form>
        </div>
    </div>
</div>

{% endblock content %}